<h2>List of ratings</h2>
<p>Number of ratings: <%= @ratings.count %></p>


<div class="row">
<div class="col-md-4"><h2>Best breweries</h2>
	<%= render 'top', list: @top_breweries %></div>
<div class="col-md-4"><h2>Best beers</h2>
	<%= render 'top', list: @top_beers %></div>
<div class="col-md-4"><h2>Best styles</h2></div>

</div>

<h2>Most active Users</h2>
<%= render 'topU', list: @top_users %>

<h2>All Ratings</h2>
<%= render 'list', ratings: @ratings %>

<div class="row">
	<div class="col-md-6">
		<h2>5 best ratings</h2>
		<%= render 'list', ratings: @ratings_best %>
	</div>
	<div class="col-md-6">
		<h2>5 last ratings</h2>
		<%= render 'list', ratings: @ratings_lastF %>
	</div>
</div>