<p id="notice"><%= notice %></p>

<h2>
  <strong>Brewery of 
  <%= @brewery.name %>
  </strong>
</h2>
<p>
	<%= @brewery.beers.count %> beers in their selection consisting of:
	<p>
		<% @brewery.beers.each do |beer| %>
		<%= link_to beer.name, beer %> 
		<% end %>
	</p>
</p>
<p><i>
  Established in 
  <%= @brewery.year %>
</i></p>

<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', breweries_path %>

