<p id="notice"><%= notice %></p>

<h2>
  <strong>Brewery of 
  <%= @brewery.name %>
  <% if not @brewery.active %>
  		<span class="label label-info">retired</span>
  <% end %>
  <%= link_to "change activity", toggle_activity_brewery_path(@brewery.id), method: :post, class: "btn btn-primary" %>

  </strong>
</h2>
<p>
	<%= @brewery.beers.count %> beers in their selection consisting of:
	<p>
		<% @brewery.beers.each do |beer| %>
		<%= link_to beer.name, beer %> 
		<% end %>
	</p>
</p>
<P>
<% if @brewery.ratings.empty?  %>
		This brewery has no ratings!
	<% elsif @brewery.ratings.count != 1  %>
	Has
		<%=  @brewery.ratings.count %> ratings, average <%= @brewery.average_rating %>
	<% else %>
	Has
		<%=  @brewery.ratings.count %> rating, average <%= @brewery.average_rating %>
	<% end %>
</p>
<p><i>
  Established in 
  <%= @brewery.year %>
</i></p>
<% if current_user %>
<%= edit_and_destroy_buttons(@brewery) %>
<% end %>
<%= link_to 'Back', breweries_path, class:'btn' %>

